.card {
  overflow: hidden;
  position: relative;
}

.card {
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(
    1.02
  ); /* You can adjust the scale factor for the desired zoom effect */
}
